# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Logs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.vsconfig
UnityVS/
.vs

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta

# ============ #
# Custom       #
# ============ #
Build/
Builds/
Recordings/
EditorUserSettings.asset
Render/
RenderVideo/
UserSettings/